.subscribe.container
  div.subscribe__left
    h2 Успей купить!
    span Подпишись и успей словить все акции
  div.subscribe__right
    div
      input.subscribe__input( type="text" placeholder="E-mail")
      div.subscribe__checkbox-wrap
        input(type="checkbox" checked)
        label подписаться на новости
    button.btn.btn--brown Подписаться
