.container
  form.subscribe#subscribe(method="post" onsubmit="javascript:return validate('subscribe','email')")
    div.subscribe__left
      h2 Успей купить!
      span Подпишись и успей словить все акции
    div.subscribe__right
      div
        input.subscribe__input#email( type="text" placeholder="E-mail")
        div.subscribe__checkbox-wrap
          input(type="checkbox" id="subs" checked)
          label(for="subs") подписаться на новости
      button.btn.btn--brown Подписаться
