extends layout/main
block variables
  - let pageTitle= 'Заголовок'

block content
  h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it! avadqwfwqf
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
      h2 let see afaffff

block scripts