.catalog {
  @include screen(xl) {
    margin-bottom: 40px;
  }

  @include screen(l) {
    margin-bottom: 70px;
  }

  &__container {
    @include screen(m) {
      padding: 30px 20px 40px;
      background-color: rgba(255, 255, 255, .9);
    }

    @include screen(l) {
      padding: 30px 80px 75px;
      background-color: rgba(255, 255, 255, .9);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include screen(xs) {
      margin-bottom: 40px;
      width: calc(100%);
    }

    @include screen(m) {
      padding: 0 10px;
      margin-bottom: 40px;
      width: calc(100% / 2);
    }

    @include screen(l) {
      padding: 0 26px;
      margin-bottom: 52px;
      width: calc(100% / 3);
    }
  }

  h1 {
    color: #002f2f;

    @include screen(xs) {
      padding: 20px 0 20px 20px;
      font: 700 27px OpenSans;
    }

    @include screen(m) {
      padding: 20px 0 20px 20px;
      font: 700 36px OpenSans;
    }

    @include screen(l) {
      padding: 70px 111px 61px;
      font: 700 48px OpenSans;
    }
  }

  .btn {
    margin: auto;

    @include screen(xs) {
      max-width: 373px;
    }

    @include screen(m) {
      max-width: 500px;
    }

    @include screen(xl) {
      padding: 20px 15px;
    }

    @include screen(l) {
      padding: 30px 15px 28px;
      max-width: 533px;
    }
  }
}
