.catalog {
  @include screen(xl) {
    margin-bottom: 40px;
  }

  @include screen(l) {
    margin-bottom: 70px;
  }

  &__container {
    background-color: rgba(255, 255, 255, .9);

    @include screen(xs) {
      padding: 30px 0;
    }

    @include screen(m) {
      padding: 30px 20px 40px;
    }

    @include screen(l) {
      padding: 28px 80px 75px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include screen(xs) {
      margin-bottom: 40px;
      width: calc(100%);
    }

    @include screen(m) {
      padding: 0 10px;
      margin-bottom: 40px;
      width: calc(100% / 2);
    }

    @include screen(l) {
      padding: 0 26px;
      margin-bottom: 52px;
      width: calc(100% / 3);
    }
  }

  h1 {
    color: #002f2f;

    @include screen(xs) {
      padding: 20px 0 20px 20px;
      font: 700 27px OpenSans;
    }

    @include screen(m) {
      padding: 20px 0 20px 20px;
      font: 700 36px OpenSans;
    }

    @include screen(l) {
      padding: 56px 105px 56px;
      font: 700 48px OpenSans;
    }
  }

  .btn {
    margin: auto;

    @include screen(xs) {
      max-width: 373px;
    }

    @include screen(m) {
      max-width: 500px;
    }

    @include screen(xl) {
      padding: 20px 15px;
    }

    @include screen(l) {
      padding: 30px 15px 28px;
      max-width: 533px;
    }
  }

  &__sort {
    display: flex;
    align-items: center;

    @include screen(xs) {
      padding-left: 5%;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    @include screen(m) {
      padding-left: 20px;
      margin-bottom: 30px;
    }

    @include screen(xl) {
      font: 400 18px OpenSans;
    }

    @include screen(l) {
      padding-left: 24px;
      margin-bottom: 46px;
      font: 400 14px OpenSans;
    }

    span {
      margin-right: 11px;
      color: rgba(0, 47, 47, .7);

      @include screen(xs) {
        margin-bottom: 15px;
        width: 100%;
      }
    }

    div {
      position: relative;
      display: flex;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 17px;
        margin: auto;
        border-radius: 50%;
        background: url(../img/arrow.svg) no-repeat, rgba(4, 99, 128, .04);
        background-position: center center;
        transform: rotate(-180deg);
        pointer-events: none;

        @include screen(xl) {
          width: 25px;
          height: 25px;
        }

        @include screen(l) {
          width: 18px;
          height: 18px;
        }
      }

      a {
        display: block;
        padding-right: 33px;
        cursor: pointer;

        &:last-of-type {
          display: none;
        }
      }

      &.active {
        &::after {
          transform: inherit;
        }

        a {
          &:first-of-type {
            display: none;
          }

          &:last-of-type {
            display: block;
          }
        }
      }

      &.focus {
        span {
          border-bottom: 1px dotted;
          color: rgb(0, 47, 47);
        }
      }
    }

    &-btn {
      color: rgba(0, 47, 47, .7);
      outline: none;
      background: transparent;

      span {
        transition: color .3s, border .3s;
      }

      &:focus,
      &:hover,
      &:active {
        span {
          border-bottom: 1px dotted;
          color: rgb(0, 47, 47);
        }
      }
    }
  }
}
