.subscribe {
  display: flex;
  margin-bottom: 70px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #046380;

  @include screen(xl) {
    flex-direction: column;
    padding: 30px 15px;
  }

  @include screen(l) {
    justify-content: space-between;
    padding: 45px 105px 53px 50px;
  }

  h2 {
    margin-bottom: 5px;

    @include screen(xl) {
      font: 600 27px OpenSans;
    }

    @include screen(l) {
      font: 600 34px OpenSans;
    }
  }

  span {
    font: 400 18px OpenSans;
  }

  &__left {
    @include screen(xl) {
      margin-bottom: 20px;
    }
  }

  &__right {
    display: flex;

    @include screen(xs) {
      flex-direction: column;
    }

    @include screen(m) {
      justify-content: flex-start
    }

    @include screen(l) {
      margin-top: 20px;
      justify-content: flex-end;
      width: 52%;
    }

    &>div {
      display: flex;
      flex-direction: column;

      @include screen(xs) {
        max-width: 319px;
      }

      @include screen(m) {
        flex: 1;
        margin-right: 40px;
      }

      @include screen(xl) {
        margin-bottom: 20px;
      }

      @include screen(l) {
        flex: 1;
        margin-right: 55px;
      }
    }
  }

  &__input {
    margin-bottom: 17px;
    padding: 13px 20px 12px;
    width: 100%;
    border-radius: 2px;
    color: #002f2f;
    outline: none;
    transition: box-shadow .3s;

    @include screen(l) {
      max-width: 319px;
    }

    &:focus {
      box-shadow: 15px 15px 15px rgba(0, 0, 0, .25);
    }

    &::placeholder {
      font: 400 18px OpenSans;
      color: #046380;
    }
  }

  &__checkbox-wrap {
    label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
    }

    input {
      display: none;

      &+label::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background-color: #ffffff;
      }

      &:checked+label::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 9px;
        height: 9px;
        background: url("../img/check-ico.png") no-repeat;
        background-size: cover;
        z-index: 1;
      }
    }
  }

  .btn {
    align-self: flex-start;
    padding: 17px 15px 16px;
    max-width: 214px;
  }
}
