block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title= pageTitle
    link(rel="stylesheet" href="styles/main.min.css")
  body 
    include ../modules/header
    include ../modules/catalog
    include ../modules/subscribe
    block content
      <a class="to-top" title="Наверх"></a>
    block scripts
      script(src="js/scripts.min.js")
